/* Règles sur les balises */
/* Un bord bleu en haut de page */
body {
    border-top: 10px solid #0069D9;
    background-color: white;
  }

  /* un peu d'espacement */
  h1 {
    text-align: center;
    margin: 1em auto;
    /* équivalent
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: auto;
        margin-left: auto;
    */
  }
/* Règles sur les classes */
  /* une couleur atténuée et une taille petite pour la classe small */
  .small {
    color:gray;
    font-size: 0.8em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  /* un peu d'espacement et une ombre portée sur le formulaire */
  .form-group {
    margin-top: 1em;
    padding: 1em;   /* marge intérieure */
    background-color: #f6fbff;
    box-shadow: 0 0 10px rgba(0,0,0,.3); /* permet de gére l'opacité */
  }

  /* du gras pour le libellé de la liste déroulante */
  .liste {
    font-weight: bold;
  }

  /* un peu d'espacement */
  .custom-radio {
    margin-bottom: 2em;
  }

  /* un peu d'espacement */
  .btn-primary {
    margin-right: 1em;
    margin-left: 1em;
  }

  /* taille de l'illustration */
  .form-img {
    width: 8vw; /* vw : Viewport Width (taille de l'écran visible) --> 8% de l'écran */
    min-width: 50px; /* l'image ne pourra pas être plus petite que 50 pixels */
  }

  /* Règles affichage média */
  /* En affichage mobile : le bouton fait toute la largeur de la page
  De 0 à 768 pixels : la règle s'applique */
  @media all and (max-width:768px) {
    .btn-expand { width: 100%; display:block; }
  }
